
[Unit]
Description=Squid access logfile processor

[Service]
Type=forking
PIDFile=/var/run/squidmill/squidmill.pid
EnvironmentFile=/etc/sysconfig/squidmill
ExecStart=/usr/sbin/squidmill -U $SQUIDLOGUSER -G $SQUIDLOGUSER -b /var/run/squidmill/squidmill.pid -c /var/run/squidmill/squidmill.sock -L $LOGFILE -d $DBFILE -R $MAXRECORDS -F $SQUIDLOGFILE

[Install]
WantedBy=multi-user.target
